/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 43%, 55%);
  --title-color: hsla(0, 0%, 15%, 0.486);
  --text-color: hsl(109, 29%, 22%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




.div-container {
  height: 0;
  position: relative;
  padding-bottom: 280px;
}


.div-container iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}











header {
  background-color: white;
  padding: 5px;
  margin: 2px;
 position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

nav {
  text-align: center;
background-color: rgba(131, 40, 70, 0.87);
padding: 3px;
position: static;


}

 nav > a { 
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 20px;

 }

  nav > a:hover {

 text-decoration: underline;


  }

  h1  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #9e3a2491;
    font-weight: bold;
   background: black;
    background-size: cover;
    background-position: center;
    padding: 10px;



  }

  body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    background-image: url('/')
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    
  }

 

  